doctype html
html(lang="es")
    head
        title Node-express
        meta(charset="utf-8")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
    body
        block contenido